<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deoncole.d_cole_android_usersanddata">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/expense_launcher"
        android:label="@string/app_label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExpenseActivity" android:screenOrientation="portrait"/>
        <activity android:name=".FormActivity" android:screenOrientation="portrait"></activity>
        <receiver android:name=".DatabaseAlarmManager"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.deoncole.d_cole_android_usersanddata.ACTION_POLL"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>